<form action="/user/create" method="POST" class="form-signin">
	<h2 class="form-signin-heading">Creating an account</h2>
	
	<input type="text" name="name" class="form-control" placeholder="your name">
	
	<input type="text" name="title" class="form-control" placeholder="your title">
	
	<input type="text" name="email" class="form-control" placeholder="email address">

	<input type="password" name="password" class="form-control" placeholder="password">

	<input type="password" name="confirmation" class="form-control" placeholder="password confirmation">
	<br>
	
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account" />
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>